.probootstrap-cell .flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.probootstrap-cell {
    height: 300px;
}

.probootstrap-heading .secondary-heading {
    font-size: 2.5em;
}

.wid-60-pct {
    width: 60%;
    margin: auto;
}

.header-fixed {
    background-position: center; 
    background-attachment: fixed;
}

.flex-bloc-horizontal {
    display: flex;
    flex-direction: row;
}

.flex-bloc-horizontal .bloc-small {   
    width: 45%;
}

.flex-bloc-horizontal .bloc-big {   
    width: 55%;
}

.flex-bloc-horizontal img {
    width: 100%;
    height: 100%;
}

.probootstrap-cell .text h3 {
    margin-bottom: 0;
    font-size: 23px;
    text-transform: uppercase;
    color: #FFA33E;
}

.probootstrap-cell .text h4 {
    margin-top: 0px;
    font-size: 1em;
}

.bg-color-dark {
    background-color: #7D82B8;
}
