{% extends "layout.html" %}

{% block head %}
   {{ super() }}
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-comments.css')}}">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{% endblock %}

{% block navbar %}
   {{ super() }}
{% endblock %}
   
{% block content %}
<section id="accueil" class="flexslider" data-section="welcome">
    <ul class="slides">
      <li style="background-image: url(/static/img/hero_bg_1.jpg)" class="overlay" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="probootstrap-slider-text text-center probootstrap-animate probootstrap-heading">
                <h1 class="primary-heading">Bienvenue</h1>
                <h3 class="secondary-heading">à l'Hôtel Matignon</h3>
                <p class="sub-heading">Un hôtel fait pour vous et qui n'attend que vous!</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li style="background-image: url(/static/img/hero_bg_2.jpg)" class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="probootstrap-slider-text text-center probootstrap-animate probootstrap-heading">
                <h1 class="primary-heading">Travailler</h1>
                <h3 class="secondary-heading">dans un lieu unique</h3>
                <p class="sub-heading">Chargé d'Histoire et aux plus belles réceptions</p>
              </div>
            </div>
          </div>
        </div>
        
      </li>
      <li style="background-image: url(/static/img/hero_bg_3.jpg)" class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="probootstrap-slider-text text-center probootstrap-animate probootstrap-heading">
                <h1 class="primary-heading">Détente</h1>
                <h3 class="secondary-heading">un parc</h3>
                <p class="sub-heading">en plein milieu de Paris!</p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
</section>

<!-- coments plugin-->
<div id="comments-container"></div>
{% endblock %}


{% block footer %}
   {{ super() }}

   <!-- Data -->
    <script type="text/javascript" src="{{ url_for('static', filename='data/comments-data.js')}}"></script>

    <!-- Libraries -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.0/jquery.textcomplete.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-comments.js')}}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js')}}"></script>
{% endblock %}