{% extends "layout.html" %}

{% block title %} {{ titre }} {% endblock %}

{% block head %} 
   {{ super() }}
{% endblock %}

{% block navbar %}
   {{ super() }}
{% endblock %}
   
{% block content %}
<section id="accueil" class="flexslider" data-section="welcome">
    <ul class="slides">
      <li style="background-image: url({{ url_for('static', filename='img/home_nlp.jpg')}});" class="overlay header-fixed">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="probootstrap-slider-text text-center probootstrap-animate probootstrap-heading">
                <h1 class="primary-heading">Projet</h1>
                <h3 class="secondary-heading">Site NLP</h3>
                <p class="sub-heading">Nohossat, Valérie, Williams</p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </section>
  
  <section class="probootstrap-section probootstrap-bg-white" data-section="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center probootstrap-animate">
          <div class="probootstrap-heading dark">
            <h1 class="primary-heading">Sujet</h1>
            <h3 class="secondary-heading">{{ objectif.titre }}</h3>
            <span class="seperator">* * *</span>
          </div>
          <p class='wid-60-pct'>{{ objectif.desc }}</p>
        </div>
      </div>
      <!-- END row -->
    </div>
  </section>

  <section class="flexslider">
    <ul class="slides">
      <li style="background-image: url({{ url_for('static', filename='img/home_nlp.jpg')}});" class="overlay header-fixed">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="probootstrap-slider-text text-center probootstrap-animate probootstrap-heading">
                <h1 class="primary-heading">Projet</h1>
                <h3 class="secondary-heading">Site NLP</h3>
                <p class="sub-heading">Nohossat, Valérie, Williams</p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </section>

  <section class="probootstrap-section probootstrap-bg-white" data-section="scrap">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center probootstrap-animate">
          <div class="probootstrap-heading dark">
            <h1 class="primary-heading">{{ parts[1].titre }}</h1>
            <h3 class="secondary-heading">{{ parts[1].sstitre }}</h3>
            <span class="seperator">* * *</span>
          </div>
          <p class='wid-60-pct'>{{ parts[1].desc }}</p>
        </div>
      </div>
      <!-- END row -->
    </div>
  </section>
  
  <section class="flex-bloc-horizontal">
    <div class='bloc-small'>
      <img src="{{ url_for('static', filename='img/booking.jpg')}}" alt="booking_gif">
    </div>
    <div class='bloc-big'>
      <img src="{{ url_for('static', filename='img/booking.gif')}}" alt="booking_gif">
    </div>
    
    
  </section>

  <section id="colonnes" class="probootstrap-section-bg overlay" data-section="prepro" style="background-image: url(/static/img/hero_bg_2.jpg);" data-stellar-background-ratio="0.5" data-section="specialties">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center probootstrap-animate">
          <div class="probootstrap-heading">
            <h2 class="primary-heading">Dataset</h2>
            <h3 class="secondary-heading">Variables descriptives</h3>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="probootstrap-section">
    <div class="container">
      <div class="row">
        <div class="probootstrap-cell-retro">
          <div class="half">

            {% for var in variables[::2] %}
                <div class="probootstrap-cell {{ loop.cycle('reverse', '') }} probootstrap-animate" data-animate-effect="fadeIn">
                  <div class="image text-center flex-center">
                    <p>{{ var.desc }}</p>
                  </div>
                  <div class="text text-center flex-center bg-color-dark">
                      <h3>{{ var.nom }}</h3>
                      <h4>{{ var.type }}</h4>
                    </div>
                </div>
            {% endfor %}

          </div>
          <div class="half">
            {% for var in variables[1::2] %}
            <div class="probootstrap-cell {{ loop.cycle('reverse', '') }} probootstrap-animate" data-animate-effect="fadeIn">
              <div class="image text-center flex-center">
                <p>{{ var.desc }}</p>
              </div>  
              <div class="text text-center flex-center bg-color-dark">
                  <h3>{{ var.nom }}</h3>
                  <h4>{{ var.type }}</h4>
                </div>
                
            </div>
        {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}